<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Skin>
	<Description>Classic Skin</Description>
	<Groups>
		<Group>
			<Description>General</Description>
			<Images>
				<Image>
					<Displayname>My folder icon</Displayname>
					<Filename>/images/homefoldericon.png</Filename>
				</Image>
				<Image>
					<Displayname>My BIRT Studio icon</Displayname>
					<Filename>/images/brsdesignericon.png</Filename>
				</Image>
				<Image>
					<Displayname>Add file icon</Displayname>
					<Filename>/images/add_file.png</Filename>
				</Image>
				<Image>
					<Displayname>Search icon</Displayname>
					<Filename>/images/search.png</Filename>
				</Image>
				<Image>
		          <Displayname>Facebook Comments</Displayname>
		          <Filename>/images/facebook_enable.gif</Filename>
		        </Image>
		        <Image>
		          <Displayname>BIRT 360 Plus</Displayname>
		          <Filename>/images/BIRT360Plusicon.png</Filename>
		        </Image>
		        <Image>
		          <Displayname>Mobile App Download</Displayname>
		          <Filename>/images/mobile_app_download.gif</Filename>
		        </Image>
				<Image>
					<Displayname>Inner banner border left</Displayname>
					<Filename>/images/inner_banner_border_left.png</Filename>
				</Image>
				<Image>
					<Displayname>Inner banner border right</Displayname>
					<Filename>/images/inner_banner_border_right.png</Filename>
				</Image>
				<Image>
					<Displayname>Inner banner divider long</Displayname>
					<Filename>/images/inner_banner_divider_long.png</Filename>
				</Image>
				<Image>
					<Displayname>Inner banner divider short</Displayname>
					<Filename>/images/inner_banner_divider_short.png</Filename>
				</Image>
                <Image>
                    <Displayname>Landing and Login pages background *</Displayname>
                    <Filename>/images/login_bg.png</Filename>
                </Image>
                <Image>
                    <Displayname>Titlebar background *</Displayname>
                    <Filename>/images/titlebar_background.png</Filename>
                </Image>
			</Images>
			<Styles>
                <Style>
                    <Displayname>Landing and Login pages background *</Displayname>
                    <Stylename>#iPortalContainer</Stylename>
                    <Value/>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Body background</Displayname>
                    <Stylename>BODY</Stylename>
                    <Value>White</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Listing content background color</Displayname>
                    <Stylename>.categoryWrapper, .detailWrapper, .channelWrapper, .nonHighlightedFileRow, .mobileSubscriptionWrapper</Stylename>
                    <Value>#E8E8E8</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Listing content highlight color</Displayname>
                    <Stylename>.highlightedFileRow</Stylename>
                    <Value>white</Value>
                    <Type>background-color</Type>
                </Style>
				<Style>
					<Displayname>Panel background color</Displayname>
					<Stylename>.panel</Stylename>
					<Value>#DADADA</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Panel border color</Displayname>
					<Stylename>.panel</Stylename>
					<Value>#b5b29c</Value>
					<Type>border-color</Type>
				</Style>
				<Style>
					<Displayname>Breadcrumbs background color</Displayname>
					<Stylename>TABLE.breadcrumbs</Stylename>
					<Value>white</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Alert message text color</Displayname>
					<Stylename>.alertText</Stylename>
					<Value>Red</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Hyperlink disabled text color</Displayname>
					<Stylename>.disabledhyperlink</Stylename>
					<Value>LightGrey</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Hyperlink text color</Displayname>
					<Stylename>.hyperlink,.breadcrumb,.toolbarlink</Stylename>
					<Value>black</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Titlebar text color</Displayname>
					<Stylename>.titlebar</Stylename>
					<Value>Black</Value>
					<Type>color</Type>
				</Style>
                <Style>
                    <Displayname>Titlebar background *</Displayname>
                    <Stylename>.titlebar</Stylename>
                    <Value/>
                    <Type>background-color</Type>
                </Style>
				<Style>
					<Displayname>Hyperlink text color on hover</Displayname>
					<Stylename>A:HOVER.hyperlink</Stylename>
					<Value>#666666</Value>
					<Type>color</Type>
				</Style>
				<!--
				<Style>
					<Displayname>Row background color for first row</Displayname>
					<Stylename>.rowStyle1</Stylename>
					<Value>White</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Row background color for second row</Displayname>
					<Stylename>.rowStyle2</Stylename>
					<Value>#F0F4F9</Value>
					<Type>background-color</Type>
				</Style>
				-->
				<Style>
					<Displayname>Font Family</Displayname>
					<Stylename>body,.bannerLabel,.bannerValue,.bannerLink,.sidebarSelected,.sidebarLink,A:HOVER.sidebarLink,.sidebarLinkSelected,A:HOVER.sidebarLinkSelected,.sidebarUnselected,.label,.disabledhyperlink,.hyperlink,A:HOVER.hyperlink,.titlebar,.filterLabel,.popupMenu,.popupMenuItem,.popupMenuItemSelected,INPUT,SELECT,.toolbarlink,.toolbartext,.toolbarboldtext,.boldLabel,.columnHeader,.breadcrumb,.alertText,.searchresultlink,.LinkOff,.LinkOver,.LinkDisable,.searchHeader,.searchContent</Stylename>
					<Value>Verdana, Arial, Helvetica, sans-serif</Value>
					<Type>font-family</Type>
				</Style>
			</Styles>
		</Group>
		<Group>
			<Description>Banner</Description>
			<Images>
				<Image>
					<Displayname>Logo</Displayname>
					<Filename>/images/logo.png</Filename>
				</Image>
				<Image>
					<Displayname>Blue Logo</Displayname>
					<Filename>/images/logo_blue.png</Filename>
				</Image>
				<Image>
					<Displayname>Top banner background *</Displayname>
					<Filename>/images/banner_bg.png</Filename>
				</Image>
				<Image>
					<Displayname>Top banner divider background *</Displayname>
					<Filename>/images/divider.png</Filename>
				</Image>
                <Image>
                    <Displayname>Inner banner middle background *</Displayname>
                    <Filename>/images/inner_banner_background.png</Filename>
                </Image>
                
                <Image>
                	<Displayname>Options</Displayname>
                    <Filename>/images/options.png</Filename>
                </Image>
                <Image>
                	<Displayname>About</Displayname>
                    <Filename>/images/about.png</Filename>
                </Image>
                <Image>
                	<Displayname>Help</Displayname>
                    <Filename>/images/help.png</Filename>
                </Image>
                <Image>
                	<Displayname>Log out</Displayname>
                    <Filename>/images/logout.png</Filename>
                </Image>
			</Images>
			<Styles>
				<Style>
                    <Displayname>Top banner background *</Displayname>
                    <Stylename>.topBanner</Stylename>
                    <Value></Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
					<Displayname>Top banner divider background *</Displayname>
                    <Stylename>.topBannerDivider</Stylename>
                    <Value></Value>
					<Type>background-color</Type>
				</Style>
				<Style>
                    <Displayname>Top banner text color</Displayname>
                    <Stylename>.topBanner *</Stylename>
                    <Value>white</Value>
                    <Type>color</Type>
                </Style>
            <!--
                <Style>
					<Displayname>Banner logo background color</Displayname>
                    <Stylename>.bannerlogoarea</Stylename>
                    <Value>White</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Banner text area background color</Displayname>
					<Stylename>.bannertextarea</Stylename>
					<Value>#A7BFDB</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Banner separation background color</Displayname>
                    <Stylename>.bannerheader</Stylename>
                    <Value>#DDAA03</Value>
					<Type>border-bottom-color</Type>
				</Style>
				<Style>
					<Displayname>Banner link text color</Displayname>
					<Stylename>.bannerLink</Stylename>
					<Value>#003063</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Banner link text color on hover</Displayname>
					<Stylename>A:HOVER.bannerLink</Stylename>
					<Value>#003063</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Banner border color</Displayname>
					<Stylename>.treeviewbanner</Stylename>
					<Value>#89A7FF</Value>
					<Type>background-color</Type>
				</Style>
			-->
                <Style>
                    <Displayname>Inner banner middle background *</Displayname>
                    <Stylename>#innerBannerMiddle</Stylename>
                    <Value/>
                    <Type>background-color</Type>
                </Style>
			</Styles>
		</Group>
		<Group>
			<Description>Side Menu</Description>
			<Images>
				<Image>
					<Displayname>Sidebar Border Top</Displayname>
					<Filename>/images/sidebar_border_top.png</Filename>
				</Image>
			</Images>
			<Styles>
				<Style>
					<Displayname>Side menu background color</Displayname>
					<Stylename>.sidebarUnselected</Stylename>
					<Value>none</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Side menu selected item background color</Displayname>
					<Stylename>.sidebarSelected</Stylename>
					<Value>none</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Side menu link text color</Displayname>
					<Stylename>.sidebarLink</Stylename>
					<Value>rgb(102,102,102)</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Side menu link text color on hover</Displayname>
					<Stylename>A:HOVER.sidebarLink</Stylename>
					<Value>rgb(12,67,123)</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Side menu link selected color</Displayname>
					<Stylename>.sidebarLinkSelected</Stylename>
					<Value>rgb(12,67,123)</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Side menu link selected color on hover</Displayname>
					<Stylename>A:HOVER.sidebarLinkSelected</Stylename>
					<Value>rgb(12,67,123)</Value>
					<Type>color</Type>
				</Style>
			</Styles>
		</Group>
		<Group>
			<Description>Tab</Description>
			<Images>
                <Image>
                    <Displayname>Tab background *</Displayname>
                    <Filename></Filename>
                </Image>
			</Images>
			<Styles>
				<Style>
					<Displayname>Selected tab background color</Displayname>
					<Stylename>.newCellActiveTab</Stylename>
					<Value>rgb(241,241,241)</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Tab background *</Displayname>
					<Stylename>.newCellInActiveTab</Stylename>
					<Value/>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Tab link text Color</Displayname>
					<Stylename>A:LINK.tabLink, A:VISITED.tabLink</Stylename>
					<Value>rgb(102,102,102)</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Tab link text color on hover</Displayname>
					<Stylename>A:HOVER.tabLink</Stylename>
					<Value>rgb(102,102,102)</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Tab link selected color</Displayname>
					<Stylename>.tabLinkSelected</Stylename>
					<Value>rgb(102,102,102)</Value>
					<Type>color</Type>
				</Style>
			</Styles>
		</Group>
		<Group>
			<Description>Popup Menu</Description>
			<Images />
			<Styles>
				<Style>
					<Displayname>Popup menu background color</Displayname>
					<Stylename>.popupMenu</Stylename>
					<Value>#F0F3F9</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Popup menu item text color</Displayname>
					<Stylename>.popupMenuItem</Stylename>
					<Value>#333399</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Popup menu item selected background color</Displayname>
					<Stylename>.popupMenuItemSelected</Stylename>
					<Value>#333399</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Popup menu item selected text color</Displayname>
					<Stylename>.popupMenuItemSelected</Stylename>
					<Value>#F0F3F9</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Popup menu item separator color</Displayname>
					<Stylename>.popupMenuSeparator</Stylename>
					<Value>#333399</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Focused item background color</Displayname>
					<Stylename>.popupMenuSelection</Stylename>
					<Value>#F0F3F9</Value>
					<Type>background-color</Type>
				</Style>
			</Styles>
		</Group>
		<Group>
			<Description>Viewer</Description>
			<Images />
			<Styles>
				<Style>
					<Displayname>Navigation bar for Search and Viewer background color</Displayname>
					<Stylename>.navbar</Stylename>
					<Value>#31699C</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Hyperlink color</Displayname>
					<Stylename>.LinkOff</Stylename>
					<Value>white</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Hyperlink color on hover</Displayname>
					<Stylename>.LinkOver</Stylename>
					<Value>red</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Disabled hyperlink color</Displayname>
					<Stylename>.LinkDisable</Stylename>
					<Value>#99CCCC</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Download page title color</Displayname>
					<Stylename>.title</Stylename>
					<Value>#FFFFFF</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Download page title background color</Displayname>
					<Stylename>.title</Stylename>
					<Value>#31699C</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Search result link color</Displayname>
					<Stylename>.searchresultlink</Stylename>
					<Value>blue</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Search panel background color</Displayname>
					<Stylename>.searchPanel</Stylename>
					<Value>#006699</Value>
					<Type>background-color</Type>
				</Style>
				<Style>
					<Displayname>Search panel header text Color</Displayname>
					<Stylename>.searchHeader</Stylename>
					<Value>white</Value>
					<Type>color</Type>
				</Style>
				<Style>
					<Displayname>Search panel content text color</Displayname>
					<Stylename>.searchContent</Stylename>
					<Value>white</Value>
					<Type>color</Type>
				</Style>
			</Styles>
		</Group>
		
        <!-- Section for BIRT Studio -->
        <Group>
            <Description>BIRT Studio</Description>
            <Images/>
            <Styles>
            	<!-- Title Area -->
                <Style>
                    <Displayname>Title area upper border</Displayname>
                    <Stylename>.erni_titleBar_color</Stylename>
                    <Value>#003063</Value>
                    <Type>border-top-color</Type>
                </Style>
                <Style>
                    <Displayname>Title area background</Displayname>
                    <Stylename>.erni_titleBar_color</Stylename>
                    <Value>#ffffff</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Title area lower border</Displayname>
                    <Stylename>.erni_titleBar_color</Stylename>
                    <Value>#ddaa03</Value>
                    <Type>border-bottom-color</Type>
                </Style>
            	<!-- Progress Bar -->
                <Style>
                    <Displayname>Progress Bar background</Displayname>
                    <Stylename>.erni_progressbar</Stylename>
                    <Value>#FFFFFF</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Progress Bar border</Displayname>
                    <Stylename>.erni_progressbar</Stylename>
                    <Value>#003063</Value>
                    <Type>border-color</Type>
                </Style>
                <!-- Toolbar -->
                <Style>
                    <Displayname>Toolbar background color</Displayname>
                    <Stylename>.toolbar</Stylename>
                    <Value>#A7BFDB</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Toolbar underlay background color</Displayname>
                    <Stylename>.toolbarUnderlay</Stylename>
                    <Value>#A7BFDB</Value>
                    <Type>background-color</Type>
                </Style>
                <!-- subbar -->
                <Style>
                    <Displayname>subbar background color</Displayname>
                    <Stylename>.subbar</Stylename>
                    <Value>#E0E0E0</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>subbar underlay background color</Displayname>
                    <Stylename>.subbarUnderlay</Stylename>
                    <Value>#E0E0E0</Value>
                    <Type>background-color</Type>
                </Style>
                <!-- Accordion -->
                <Style>
                    <Displayname>Accordion panel description area</Displayname>
                    <Stylename>.accordionTabUpper</Stylename>
                    <Value>#f4f4f4</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Accordion panel background color</Displayname>
                    <Stylename>.accordion_panel_backgroundColor</Stylename>
                    <Value>#ffffff</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Accordion panel button area background color</Displayname>
                    <Stylename>.buttonarea</Stylename>
                    <Value>#f4f4f4</Value>
                    <Type>background-color</Type>
                </Style> 
                <!-- Context Menu -->
                <Style>
                    <Displayname>Context menu background color</Displayname>
                    <Stylename>.ContextMenuDiv</Stylename>
                    <Value>#E7E8E9</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Context menu border color</Displayname>
                    <Stylename>.ContextMenuDiv</Stylename>
                    <Value>#ACACAC</Value>
                    <Type>border-color</Type>
                </Style> 
                <!-- Dialogs -->               
                <Style>
                    <Displayname>Dialog Title Text color</Displayname>
                    <Stylename>.dialogTitleText</Stylename>
                    <Value>#528cc5</Value>
                    <Type>color</Type>
                </Style>
                <!-- Not enabled for now due to corner images
                <Style>
                    <Displayname>Dialog Title Bar background color</Displayname>
                    <Stylename>.dialogTitleBar</Stylename>
                    <Value>#f0f4f9</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Dialog container background color</Displayname>
                    <Stylename>.dialogBackground</Stylename>
                    <Value>#f0f4f9</Value>
                    <Type>background-color</Type>
                </Style>
                -->
                <Style>
                    <Displayname>Dialog Button background color</Displayname>
                    <Stylename>.dialogBtnBarButton</Stylename>
                    <Value>#ffffff</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Dialog Button border color</Displayname>
                    <Stylename>.dialogBtnBarButton</Stylename>
                    <Value>#528cc5</Value>
                    <Type>border-color</Type>
                </Style>
                <!-- Report -->                         
                <Style>
                    <Displayname>Report Header border color</Displayname>
                    <Stylename>.reportHeader</Stylename>
                    <Value>#808080</Value>
                    <Type>border-color</Type>
                </Style>
                <Style>
                    <Displayname>Report Header midtone background color</Displayname>
                    <Stylename>.headerMidtone</Stylename>
                    <Value>#eceae6</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Report Header highlight background color</Displayname>
                    <Stylename>.headerHighlight</Stylename>
                    <Value>#bfe0d1</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Report Cell midtone background color</Displayname>
                    <Stylename>.cellMidtone</Stylename>
                    <Value>#ffffff</Value>
                    <Type>background-color</Type>
                </Style>
                <Style>
                    <Displayname>Report Cell highlight background color</Displayname>
                    <Stylename>.cellHighlight</Stylename>
                    <Value>#dbe4ee</Value>
                    <Type>background-color</Type>
                </Style>
            </Styles>
        </Group>
                
	</Groups>
</Skin>
