<?xml version="1.0" encoding="UTF-8"?>
<FunctionalityLevels xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<Level>
		<Name>Open</Name>
		<Role>All</Role>
		<FeatureID>Jobs</FeatureID>
		<FeatureID>Documents</FeatureID>
		<FeatureID>Channels</FeatureID>
		<FeatureID>Customization</FeatureID>
		<FeatureID>Search</FeatureID>
		<FeatureID>Mobile</FeatureID>
		<FeatureID>Volume</FeatureID>
        <SubfeatureID>AddFile</SubfeatureID>
        <SubfeatureID>DownloadFile</SubfeatureID>
		<SubfeatureID>DeleteFile</SubfeatureID>
		<SubfeatureID>SelfNotificationWithAttachment</SubfeatureID>
		<SubfeatureID>SubscribeChannel</SubfeatureID>
		<SubfeatureID>CreateFolder</SubfeatureID>
		<SubfeatureID>DeleteFolder</SubfeatureID>
		<SubfeatureID>ShareFile</SubfeatureID>
		<SubfeatureID>Analyze</SubfeatureID>
		<SubfeatureID>JobPriority</SubfeatureID>
		<SubfeatureID>InteractiveViewing</SubfeatureID>
		<SubfeatureID>AdvancedData</SubfeatureID>
        <SubfeatureID>ShareDashboard</SubfeatureID>
		<SubfeatureID>DashboardDeveloper</SubfeatureID>
	</Level>

	<!--
		Each role can have a separate set of defined functionality features.	
	-->
	<!--
	<Level>
		<Name>Basic</Name>
		<Role>All</Role>
		<FeatureID>Jobs</FeatureID>
		<FeatureID>Documents</FeatureID>
		<FeatureID>Channels</FeatureID>
		<FeatureID>Mobile</FeatureID>
		<SubfeatureID>DeleteFile</SubfeatureID>
		<SubfeatureID>InteractiveViewing</SubfeatureID>
	</Level>
	<Level>
		<Name>Intermediate</Name>
		<Role>Active Portal Intermediate</Role>
		<FeatureID>Jobs</FeatureID>
		<FeatureID>Documents</FeatureID>
		<FeatureID>Channels</FeatureID>
		<FeatureID>Search</FeatureID>
		<FeatureID>Mobile</FeatureID>
		<SubfeatureID>DeleteFile</SubfeatureID>
		<SubfeatureID>DownloadFile</SubfeatureID>
		<SubfeatureID>SelfNotificationWithAttachment</SubfeatureID>
		<SubfeatureID>SubscribeChannel</SubfeatureID>
		<SubfeatureID>InteractiveViewing</SubfeatureID>
		<SubfeatureID>DashboardBusinessUser</SubfeatureID>
		<SubfeatureID>ShareDashboard</SubfeatureID>
	</Level>
	<Level>
		<Name>Advanced</Name>
		<Role>Active Portal Advanced</Role>
		<FeatureID>Jobs</FeatureID>
		<FeatureID>Documents</FeatureID>
		<FeatureID>Channels</FeatureID>
		<FeatureID>Search</FeatureID>
		<FeatureID>Mobile</FeatureID>
		<SubfeatureID>DeleteFile</SubfeatureID>
		<SubfeatureID>DownloadFile</SubfeatureID>
		<SubfeatureID>SelfNotificationWithAttachment</SubfeatureID>
		<SubfeatureID>SubscribeChannel</SubfeatureID>
		<SubfeatureID>CreateFolder</SubfeatureID>
		<SubfeatureID>DeleteFolder</SubfeatureID>
		<SubfeatureID>ShareFile</SubfeatureID>
		<SubfeatureID>JobPriority</SubfeatureID>
		<SubfeatureID>InteractiveViewing</SubfeatureID>
		<SubfeatureID>AdvancedData</SubfeatureID>
		<SubfeatureID>DashboardDeveloper</SubfeatureID>
		<SubfeatureID>ShareDashboard</SubfeatureID>
	</Level>
	<Level>
		<Name>Administrator</Name>
		<Role>Active Portal Administrator</Role>
		<FeatureID>Jobs</FeatureID>
		<FeatureID>Documents</FeatureID>
		<FeatureID>Channels</FeatureID>
		<FeatureID>Volume</FeatureID>
		<FeatureID>Customization</FeatureID>
		<FeatureID>Search</FeatureID>
		<FeatureID>Mobile</FeatureID>
		<SubfeatureID>AddFile</SubfeatureID>
		<SubfeatureID>DeleteFile</SubfeatureID>
		<SubfeatureID>DownloadFile</SubfeatureID>
		<SubfeatureID>SelfNotificationWithAttachment</SubfeatureID>
		<SubfeatureID>SubscribeChannel</SubfeatureID>
		<SubfeatureID>CreateFolder</SubfeatureID>
		<SubfeatureID>DeleteFolder</SubfeatureID>
		<SubfeatureID>ShareFile</SubfeatureID>
		<SubfeatureID>JobPriority</SubfeatureID>
		<SubfeatureID>InteractiveViewing</SubfeatureID>
		<SubfeatureID>AdvancedData</SubfeatureID>
		<SubfeatureID>DashboardDeveloper</SubfeatureID>
		<SubfeatureID>ShareDashboard</SubfeatureID>
	</Level>
	-->

	<!--
		Features are displayed in the order they appear here
		The Documents feature should remain and be available to all levels for users
		to be able to login to Active Portal.
	-->
	<Feature>
		<ID>Documents</ID>
		<Labelkey>SBAR_DOCUMENTS</Labelkey>
		<Link>/getfolderitems.do</Link>
		<SmallIcon>/iportal/activePortal/images/filesfoldersicon16x16.png</SmallIcon>
		<LargeIcon>/iportal/activePortal/images/filesfoldersicon.gif</LargeIcon>
	</Feature>
	<Feature>
		<ID>Jobs</ID>
		<Labelkey>SBAR_REQUESTS</Labelkey>
		<Link>/selectjobs.do</Link>
		<SmallIcon>/iportal/activePortal/images/requestsicon16x16.png</SmallIcon>
		<LargeIcon>/iportal/activePortal/images/requestsicon.gif</LargeIcon>
	</Feature>
	<Feature>
		<ID>Channels</ID>
		<Labelkey>SBAR_CHANNELS</Labelkey>
		<Link>/selectjobnotices.do</Link>
		<SmallIcon>/iportal/activePortal/images/notification.png</SmallIcon>
		<LargeIcon>/iportal/activePortal/images/channelsicon.gif</LargeIcon>
	</Feature>	
	<Feature>
		<ID>Search</ID>
		<Labelkey>SBAR_SEARCH</Labelkey>
		<Link>/searchfiles.do</Link>
	</Feature>
	<Feature>
		<ID>Customization</ID>
		<Labelkey>SBAR_CUSTOMIZATION</Labelkey>
		<Link>/customize.do</Link>
	</Feature>
  <Feature>
    <ID>Mobile</ID>
    <Labelkey>SBAR_MOBILE_SUBSCRIPTION</Labelkey>
    <Link>/mobilesubscription.do</Link>
    <SmallIcon>/iportal/activePortal/images/mobileicon16x16.png</SmallIcon>
    <LargeIcon>/iportal/activePortal/images/mobileicon.gif</LargeIcon>
  </Feature>
  <Feature>
	<ID>Volume</ID>
	<Labelkey>SBAR_VOLUME</Labelkey>
	<Link>/volume/properties.jsp</Link>
	<SmallIcon>/iportal/activePortal/images/volume.png</SmallIcon>
	<LargeIcon>/iportal/activePortal/images/volume.gif</LargeIcon>
 </Feature>
</FunctionalityLevels>
