<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<SkinAccess>
    <Access>
        <SkinName>classic</SkinName>
        <Privilege>public</Privilege>
    </Access>
    <Access>
        <SkinName>tabbed</SkinName>
        <Privilege>public</Privilege>
    </Access>
    <Access>
        <SkinName>treeview</SkinName>
        <Privilege>default</Privilege>
    </Access>
</SkinAccess>

