
/************************************************************
  Hide show item dialog
*************************************************************/  

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .uLAndLi
{
	list-style-type: none;
	padding: 1px;
	padding-left: 10px;
	margin: 0px;
	list-style-image: none;
}

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .smallHeight
{
	height: 100px;
}

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .bigHeight
{
	height: 170px;
}	

.actuate_iv_ui_dialog_group_ivHideShowItemDialog div, .actuate_iv_ui_dialog_group_ivHideShowItemDialog ul,
.actuate_iv_ui_dialog_group_ivHideShowItemDialog li,
.actuate_iv_ui_dialog_group_ivHideShowItemDialog table, .actuate_iv_ui_dialog_group_ivHideShowItemDialog tr,
.actuate_iv_ui_dialog_group_ivHideShowItemDialog td
{
	background-image : none;
	background-color: transparent;	
	font: 12px/16px 'Source Sans Pro', tahoma, verdana, arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: none;
	border: none;
	letter-spacing:0pt;
	word-spacing: 0pt;
	outline: none;
	text-decoration: none;
	text-transform: none;
	color: black;
}

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .itemsDiv
{
	width: 300px; 
	overflow: auto;
	background-image : none;
	background-color: transparent;
}

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .imageUrl
{
	width: 9px;
	height: 9px;
	vertical-align: middle;
	margin: 2px;
}

.actuate_iv_ui_dialog_group_ivHideShowItemDialog .checkboxAlign
{
	vertical-align: middle;
}		