.actuate-hyperlink-filefolder
{
	background-image: url('../../images/folder.png') !important;
	float: left;
	width: 16px;
	height: 16px;
	cursor:pointer;
	margin-top:2px;
}
.actuate-hyperlink-editor
{
	background-image: url('../../images/ezscript.png') !important;
	float: left;
	width: 16px;
	height: 16px;
	cursor:pointer;
	margin-top: 2px;
	margin-left: 5px;
}
.actuate-hyperlink-drillthrough-editor
{
	background-image: url('../../images/ezscript.png') !important;
	float: left;
	width: 16px;
	height: 16px;
	cursor:pointer;
	margin-left: -2px;
}
.actuate-hyperlink-moreBlock .actuate-fieldset-body
{
	margin:15px 0 5px 5px;
}