/******************************************************************************
 * IV Table Filter dialog.
 *****************************************************************************/
.actuate_dialog_SelectedFilterDialog table,
.actuate_dialog_SelectedFilterDialog div,
.actuate_dialog_SelectedFilterDialog tr	
{
	margin: 0px;
	padding: 0px;	
}

.actuate_dialog_SelectedFilterDialog .dialog_content_table td
{
	padding: 2px;
	margin: 0px;
}

.actuate_dialog_SelectedFilterDialog table
{
	background-color: transparent;
}			 

.actuate_dialog_SelectedFilterDialog .filterValuesListWidth
{
	width: 220px;
	height: 100px;
}

.actuate_dialog_SelectedFilterDialog .link_enabled
{
	color: #0000ff;
	border-style: none;
	text-decoration: underline;
	cursor: pointer;
}

.actuate_dialog_SelectedFilterDialog .link_disabled
{
	color: #777777;
	border-style: none;
	text-decoration: underline;
	cursor: default;
}