
/******************************************************************************
 *	String Format Dialog
 *****************************************************************************/
.actuate_dialog_format_StringFormattingDialog table,
.actuate_dialog_format_StringFormattingDialog div,
.actuate_dialog_format_StringFormattingDialog tr,
.actuate_dialog_format_StringFormattingDialog td	
{
	margin: 0px;
	padding: 0px;	
}

.actuate_dialog_format_StringFormattingDialog div
{
	background-color: transparent;	
}

.actuate_dialog_format_StringFormattingDialog .formatdialog_dropdown 
{
	float:right; 
	text-align: left;
	margin-bottom:0.5ex;
}

.actuate_dialog_format_StringFormattingDialog .formatdialog_okbutton 
{
	width:100%; 
	text-align:center;
	margin-top:1ex;
}

.actuate_dialog_format_StringFormattingDialog .formattingHelp {
	font: 11px, Arial; 
	color: #535353;
	border-top: none; 
	border-color: #7F9DB9; 
	margin-top:2ex;
	padding-top:3px;
}

.actuate_dialog_format_StringFormattingDialog .helpHeader {
	font-weight: bold;
}

.actuate_dialog_format_StringFormattingDialog .valueTextBox {
	line-height:12px;
	font-size:8pt;
	font-family:tahoma,verdana,arial,sans-serif;
	font-style: normal;
	font-weight: normal;
}

.actuate_dialog_format_StringFormattingDialog td
{
	padding-right:20px;
}	

.actuate_dialog_format_StringFormattingDialog .spacer
{
	clear:both;
}