
/******************************************************************************
 *	Time Format Dialog
 *****************************************************************************/
.actuate_dialog_format_TimeFormattingDialog table,
.actuate_dialog_format_TimeFormattingDialog div,
.actuate_dialog_format_TimeFormattingDialog tr,
.actuate_dialog_format_TimeFormattingDialog td
{
	margin: 0px;
	padding: 0px;	
}
 
.actuate_dialog_format_TimeFormattingDialog div
{
	background-color: transparent;	
}

.actuate_dialog_format_TimeFormattingDialog .formatdialog_dropdown 
{
	float:right; 
	text-align: left;
	margin-bottom:0.5ex;
}

.actuate_dialog_format_TimeFormattingDialog .formatdialog_okbutton 
{
	width:100%; 
	text-align:center;
	margin-top:1ex;
}

.actuate_dialog_format_TimeFormattingDialog .formattingHelp {
	font: 11px, Arial; 
	color: #535353;
	border-top: none; 
	border-color: #7F9DB9; 
	margin-top:2ex;
	padding-top:1ex;
}

.actuate_dialog_format_TimeFormattingDialog .helpHeader {
	font-weight: bold;
}

.actuate_dialog_format_TimeFormattingDialog .valueTextBox {
	line-height:12px;
	width:205px;
	font-size:8pt;
	font-family:tahoma,verdana,arial,sans-serif;
	font-style: normal;
	font-weight: normal;
}

.actuate_dialog_format_TimeFormattingDialog td
{
	padding-right:20px;
}

.actuate_dialog_format_TimeFormattingDialog .spacer
{
	clear:both;
}